@import "./properties.css";

.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background-color: var(--layout-background-color);
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.children {
  flex: 1;
  padding:
    var(--layout-children-padding-y)
    var(--layout-children-padding-x);
}

.content fieldset {
  border: 0;
  display: inherit;
  margin: 0;
  padding: 0;
}
