@import "./properties.css";
@import "../z-index.css";

.modal {
  background: var(--modal-frame-background-color);
  border-radius: var(--modal-border-radius);
  border: var(--modal-frame-border);
  box-shadow: var(--modal-box-shadow);
  height: auto;
  outline: none;
  overflow: auto;
  position: relative;
  transform: translateY(var(--modal-position-top));
  width: var(--modal-inner-width);

  &:first-child {
    padding-top: var(--modal-first-child-padding-top);
  }
}

.overlay {
  align-items: baseline;
  background: var(--modal-overlay-background);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: var(--modal-overlay-z-index);
}

.centerAlign {
  text-align: center;
}

.endAlign {
  text-align: end;
}

.startAlign {
  text-align: start;
}

.title {
  align-items: center;
  color: var(--modal-title-color);
  display: flex;
  line-height: 100%;
  padding-top: var(--modal-padding);
}

.title > h2 {
  color: var(--modal-title-color);
  flex: 1;
  font-size: var(--modal-title-font-size);
  margin: var(--modal-title-margin);
  text-transform: var(--modal-title-text-transform);
}

.icon {
  align-items: center;
  display: flex;
  margin-right: var(--modal-title-icon-spacing);
}

.actions > * {
  margin-left: var(--modal-actions-margin);
}

.title,
.content,
.actions {
  padding: var(--modal-child-padding);
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.modal hr {
  display: block;
  border-color: var(--modal-divider-border-color);
  border-style: var(--modal-divider-border-style);
  border-width: var(--modal-divider-border-width);
  margin: var(--modal-divider-margin);
}
