@import "../typography.css";
@import "../spacing.css";
@import "../colors.css";
@import "./properties.css";

.container,
.container * {
  box-sizing: border-box;
}

.container {
  background-color: var(--date-selector-background-color);
  border-color: var(--date-selector-border-color);
  border-style: var(--date-selector-border-style);
  border-radius: var(--date-selector-border-radius);
  border-width: var(--date-selector-border-width);
  box-shadow: var(--date-selector-box-shadow);
  display: inline-flex;
  user-select: var(--date-selector-user-select);
}

.sidebar {
  background-color: var(--date-selector-sidebar-background);
  border-color: inherit;
  border-radius: var(--date-selector-sidebar-border-radius);
  border-style: inherit;
  border-width: 0 1px 0 0;
  padding: var(--date-selector-sidebar-padding);
}

.sidebar h2 {
  color: var(--date-selector-sidebar-h2-color);
  font-size: var(--date-selector-sidebar-h2-font-size);
  font-style: var(--date-selector-sidebar-h2-font-style);
  font-weight: var(--date-selector-sidebar-h2-font-weight);
  margin: var(--date-selector-sidebar-h2-margin);
  padding-left: var(--date-selector-sidebar-h2-padding-left);
  text-transform: var(--date-selector-sidebar-h2-text-transform);
}

.sidebar li,
.sidebar ol {
  margin: 0;
  padding: 0;
}

.sidebar li {
  list-style: none;
  margin-top: var(--spacing-small);
}

.sidebar li:first-child {
  margin-top: unset;
}

.sidebar input {
  appearance: none;
  opacity: 0;
  position: absolute;
}

.sidebar label {
  border-left: var(--date-selector-sidebar-label-border-left);
  color: var(--date-selector-sidebar-label-color);
  cursor: pointer;
  display: block;
  font-family: var(--title-font-family);
  font-size: var(--date-selector-sidebar-label-font-size);
  font-weight: var(--date-selector-sidebar-label-font-weight);
  padding-left: var(--date-selector-sidebar-label-margin-left);
  text-transform: var(--date-selector-sidebar-label-text-transform);
  transition: var(--date-selector-sidebar-label-transition);
  width: var(--date-selector-sidebar-label-width);
  will-change: var(--date-selector-sidebar-label-will-change);
}

.sidebar input:checked ~ label {
  color: var(--date-selector-sidebar-active-color);
  border-left-color: var(--date-selector-sidebar-active-color);
  border-left-width: var(--date-selector-sidebar-input-border-width);
  font-weight: var(--date-selector-sidebar-input-font-weight);
  padding-left: var(--date-selector-sidebar-input-padding-left);
}

.stage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.actions {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: var(--spacing-medium);
}

.selectedDays {
  color: var(--date-selector-selected-days-color);
  flex: 1;
  font-size: var(--date-selector-selected-days-font-size);
  text-align: start;
}

.actions button {
  font-size: var(--date-selector-font-size);
}

.actions button:active {
  box-shadow: none;
  outline: none;
}

.separator {
  background-color: var(--date-selector-separator);
  display: inline-block;
  height: var(--date-selector-separator-height);
  width: var(--date-selector-separator-width);
}
