@import "../colors.css";

:root {
  --landing-column-font-size: 14px;
  --landing-column-padding: 48px;

  --landing-dark-color: var(--color-white);
  --landing-light-color: var(--color-light-steel-100);

  --landing-dark-primary-background-color: var(--color-light-carbon-50);
  --landing-dark-secondary-background-color: var(--color-light-carbon-50);

  --landing-light-primary-background-color: var(--color-light-smoke-40);
  --landing-light-secondary-background-color: var(--color-white);

  --landing-box-shadow: none;
}
