@import "./properties.css";

.segmentedSwitch * {
  box-sizing: border-box;
}

.segmentedSwitch {
  background-color: var(--context-switch-backgound-color);
  border-radius: var(--context-switch-border-radius);
  box-shadow: var(--context-switch-box-shadow);
  box-sizing: border-box;
  display: inline-flex;
  height: var(--context-switch-height);
  user-select: none;
}

.item {
  position: relative;
}

.item > input {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
}

.label {
  align-items: center;
  border: var(--context-switch-label-border);
  color: var(--context-switch-label-color);
  cursor: pointer;
  display: flex;
  font-family: var(--context-switch-font-family);
  font-size: var(--context-switch-label-font-size);
  font-weight: 500;
  height: var(--context-switch-label-height);
  letter-spacing: var(--context-switch-letter-spacing);
  padding: var(--context-switch-label-padding);
  position: relative;
  text-transform: var(--context-switch-text-transform);
}

.item input:checked + .label {
  background-color: var(--context-switch-checked-background-color);
  border: 1px solid var(--color-light-greenish-100);
  border-radius: var(--context-switch-label-border-radius);
  box-sizing: border-box;
  color: var(--context-switch-checked-color);

  &:hover,
  &:active {
    background-color: var(--context-switch-enter-background-color);
    border-color: var(--color-light-greenish-150);
    border-style: solid;
    border-width: 1px;
  }

  &:active {
    box-shadow: inset var(--color-light-greenish-150) 0 0 0 1px;
  }
}

.item input:focus + .label {
  background-color: var(--context-switch-enter-background-color);
  border-color: var(--color-light-greenish-150);
  border-style: solid;
  border-width: 1px;
}

.disabled .item input + .label {
  color: var(--context-switch-disabled-color);
  cursor: not-allowed;
}

.disabled .item input:checked + .label {
  background-color: var(--context-switch-disabled-checked-background-color);
  border: var(--context-switch-disabled-checked-label-border);
  color: var(--context-switch-disabled-checked-color);

  &:hover,
  &:active {
    border: var(--context-switch-disabled-checked-label-border);
  }

  &:active {
    border: var(--context-switch-disabled-checked-label-border);
    box-shadow: none;
  }
}
