@import "../colors.css";
@import "../spacing.css";
@import "../typography.css";

:root {
  --context-switch-backgound-color: var(--color-light-iron-20);
  --context-switch-border-radius: 3px;
  --context-switch-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  --context-switch-font-family: var(--title-font-family);
  --context-switch-height: var(--spacing-medium);
  --context-switch-letter-spacing: 0.1em;
  --context-switch-text-transform: uppercase;

  --context-switch-label-border: 1px solid transparent;
  --context-switch-label-border-radius: 3px;
  --context-switch-label-color: var(--color-light-grey-100);
  --context-switch-label-font-size: 10px;
  --context-switch-label-height: var(--spacing-medium);
  --context-switch-label-padding: 0 var(--spacing-tiny);

  --context-switch-checked-background-color: var(--color-light-greenish-100);
  --context-switch-checked-color: var(--color-white);

  --context-switch-disabled-color: var(--color-light-chromium-100);
  --context-switch-disabled-checked-background-color: var(--color-light-platinum-20);
  --context-switch-disabled-checked-label-border: 1px solid var(--color-light-platinum-100);
  --context-switch-disabled-checked-color: var(--color-light-grey-100);

  --context-switch-enter-background-color: var(--color-light-greenish-120);
  --context-switch-enter-border-color: var(--color-light-greenish-150);
  --context-switch-enter-border-style: solid;
  --context-switch-enter-border-width: 1px;

  --spaced-switch-tiny-spacing: var(--spacing-tiny);
  --spaced-switch-small-spacing: var(--spacing-small);
  --spaced-switch-medium-spacing: var(--spacing-medium);
  --spaced-switch-large-spacing: var(--spacing-large);

  --spaced-switch-background: var(--color-white);
  --spaced-switch-background-active: var(--color-light-greenish-150);
  --spaced-switch-background-hover: var(--color-light-greenish-120);
  --spaced-switch-background-checked: var(--color-light-greenish-gradient);
  --spaced-switch-checked-color: var(--color-white);
  --spaced-switch-disabled-color: var(--color-white);

  --spaced-switch-label-focus-border: 1px solid var(--color-light-greenish-150);
  --spaced-switch-label-focus-border-shadown: var(--color-light-greenish-150) 0 0 0 1px inset;

  --low-relevance-spaced-switch-background: transparent;
  --low-relevance-spaced-switch-background-active: var(--color-light-grey-50);
  --low-relevance-spaced-switch-background-hover: var(--color-light-smoke-100);
  --low-relevance-spaced-switch-background-checked: var(--color-light-smoke-50);
  --low-relevance-spaced-switch-color: var(--color-light-coal-100);
  --low-relevance-spaced-switch-checked-color: var(--color-light-carbon-40);

  --low-relevance-spaced-switch-checked-label-border:
    0 0 0 1px var(--color-white),
    0 0 0 2px var(--color-light-steel-50);

  --low-relevance-spaced-switch-label-focus-border-shadow: 0 0 0 1px var(--color-light-steel-50);
}
