@import "../colors.css";
@import "../spacing.css";
@import "../typography.css";

:root {
  --context-switch-backgound-color: var(--color-light-iron-20);
  --context-switch-border-radius: 3px;
  --context-switch-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  --context-switch-font-family: var(--title-font-family);
  --context-switch-height: var(--spacing-medium);
  --context-switch-letter-spacing: 0.1em;
  --context-switch-text-transform: uppercase;

  --context-switch-label-border: 1px solid transparent;
  --context-switch-label-border-radius: 3px;
  --context-switch-label-color: var(--color-light-grey-100);
  --context-switch-label-font-size: 10px;
  --context-switch-label-height: var(--spacing-medium);
  --context-switch-label-padding: 0 var(--spacing-tiny);

  --context-switch-checked-background-color: var(--color-light-greenish-100);
  --context-switch-checked-color: var(--color-white);

  --context-switch-disabled-color: var(--color-light-chromium-100);
  --context-switch-disabled-checked-background-color: var(--color-light-platinum-20);
  --context-switch-disabled-checked-label-border: 1px solid var(--color-light-platinum-100);
  --context-switch-disabled-checked-color: var(--color-light-grey-100);

  --context-switch-enter-background-color: var(--color-light-greenish-120);
  --context-switch-enter-border-color: var(--color-light-greenish-150);
  --context-switch-enter-border-style: solid;
  --context-switch-enter-border-width: 1px;
}
