@import "./properties.css";

.section {
  background-color: var(--card-section-background);
  border-radius: var(--card-border-radius);
  width: 100%;
  box-sizing: border-box;
}

.sectionTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: var(--card-spacing-medium);
  font-size: var(--card-title-font-size);
  font-family: var(--title-font-family);
  font-weight: var(--title-font-weight);
  font-style: var(--title-font-style);
  letter-spacing: var(--letter-spacing);
  color: var(--card-section-title-color);
  text-transform: var(--card-title-text-transform);
}

.sectionTitle[role="button"] {
  cursor: pointer;

  &:focus {
    box-shadow: none;
    outline: none;
  }

  &:hover {
    text-decoration: none;
  }
}

.arrow {
  padding: 0;
  margin-left: var(--card-section-title-icon-margin);
  color: var(--card-section-title-icon-color);
  font-size: var(--card-section-title-icon-size);

  @nest .expanded & {
    transform: rotate(180deg);
  }
}

.sectionSubtitle {
  letter-spacing: var(--letter-spacing);
  font-family: var(--title-font-family);
  font-size: var(--card-section-subtitle-font-size);
  color: var(--card-section-subtitle-color);
}

.sectionTitles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  outline: none;
  padding-bottom: var(--card-section-title-padding-bottom);
  padding-left: var(--card-spacing-small);
  padding-top: var(--card-section-title-padding-top);
  text-transform: none;
}

.doubleLineTitle {
  align-items: center;
  display: flex;
  padding:
    var(--card-spacing-medium)
    var(--card-spacing-medium)
    var(--card-spacing-small)
    var(--card-spacing-tiny);

  & > div {
    cursor: pointer;
    display: flex;
    flex: 1;
  }
}

.sectionIconBox {
  background-color: var(--card-section-icon-box-background-color);
  width: var(--card-section-icon-box-size);
  height: var(--card-section-icon-box-size);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--card-border-radius);
}

.divider {
  display: block;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--card-section-line-divider-border-color);
  margin: 0 var(--card-spacing-medium) var(--card-spacing-small) var(--card-spacing-tiny);
}
