@import "./properties.css";

.section {
  background-color: var(--card-section-background-color);
  border-radius: var(--card-border-radius);
  box-sizing: border-box;
  width: 100%;
}

.sectionTitle {
  align-items: center;
  color: var(--card-section-title-color);
  display: flex;
  font-family: var(--card-title-font-family);
  font-size: var(--card-section-title-font-size);
  font-weight: var(--card-section-title-font-weight);
  justify-content: space-between;
  margin: 0;
  text-transform: var(--card-section-title-text-transform);
}

.sectionTitle[role="button"],
.sectionDoubleLineTitle[role="button"] {
  cursor: pointer;

  &:focus {
    box-shadow: none;
    outline: none;
  }

  &:hover {
    text-decoration: none;
  }
}

.arrow {
  color: var(--card-section-title-icon-color);
  font-size: var(--card-section-title-icon-size);
  margin-left: var(--card-section-title-icon-margin);
  padding: 0;

  @nest .expanded & {
    transform: rotate(180deg);
  }
}

.sectionSubtitle {
  color: var(--card-section-subtitle-color);
  font-family: var(--title-font-family);
  font-weight: var(--card-section-subtitle-font-weight);
  text-transform: var(--card-section-subtitle-text-transform);
}

.sectionDoubleLineTitle {
  display: flex;
  flex-direction: column;
}

.card .sectionDoubleLineTitle hr {
  margin: var(--card-section-double-line-divider-margin);
}

.doubleLineHead {
  align-items: center;
  display: flex;
  flex: 1;

  & > div {
    display: flex;
    flex: 1;
  }
}

.sectionTitles {
  display: flex;
  color: var(--card-section-title-color);
  flex-direction: column;
  font-size: var(--card-section-title-font-size);
  font-weight: var(--card-section-title-font-weight);
  justify-content: center;
  margin-left: var(--card-section-double-line-title-spacing);
  outline: none;
  text-transform: none;
}

.sectionIconBox {
  align-items: center;
  background-color: var(--card-section-icon-box-background-color);
  border-radius: var(--card-border-radius);
  display: flex;
  height: var(--card-section-icon-box-size);
  justify-content: center;
  width: var(--card-section-icon-box-size);
}
