@import "./properties.css";
@import "./CardSection.css";

.card {
  background: var(--color-white);
  box-shadow: var(--card-shadow);
  margin: 0;
  padding: 0;
  border-radius: var(--card-border-radius);
  width: 100%;
  height: auto;
  overflow: hidden;
}

.card * {
  box-sizing: border-box;
}

.title {
  padding: var(--card-title-padding);
  display: flex;
  align-items: center;
  outline: none;
  justify-content: space-between;
}

.title > * {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title svg {
  margin-right: var(--card-title-icon-margin);
}

.title[role="button"] {
  cursor: pointer;
}

.title > h4,
.title > h3,
.title > h2,
.title > h1 {
  margin: 0;
}

.title > h2 {
  color: var(--card-title-color);
  display: inline-flex;
  font-size: var(--card-title-font-size);
  text-transform: uppercase;
}

.title > h3 {
  color: var(--card-subtitle-color);
  display: inline-flex;
  font-size: var(--card-subtitle-font-size);
}

.content {
  padding: var(--card-content-padding);
}

.graphic,
.graphic > img {
  width: 100%;
}

.actions {
  padding: var(--card-actions-padding);
  display: flex;
  justify-content: flex-end;
}

.actions > * {
  margin-left: var(--card-spacing-small);
}

.actions > *:first-child {
  margin-left: unset;
}
