@import "./properties.css";
@import "./CardSection.css";

.card * {
  box-sizing: border-box;
}

.card {
  background: var(--card-background-color);
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-box-shadow);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;

  & .title,
  & .content,
  & .actions {
    padding: var(--card-child-padding);

    &:first-child {
      padding: var(--card-child-first-child-padding);
    }
  }
}

.section {

  & .sectionTitle,
  & .sectionDoubleLineTitle {
    padding: var(--card-child-padding);

    &:first-child {
      padding: var(--card-child-first-child-padding);
    }
  }
}

.title {
  align-items: center;
  display: flex;
  justify-content: space-between;
  outline: none;
}

.title > * {
  align-items: center;
  display: flex;
  justify-content: center;
}

.title > h2 > svg {
  margin-right: var(--card-title-icon-margin);
}

.title[role="button"] {
  cursor: pointer;
}

.title > h4,
.title > h3,
.title > h2,
.title > h1 {
  margin: 0;
}

.title > h2 {
  color: var(--card-title-color);
  display: inline-flex;
  font-size: var(--card-title-font-size);
  text-transform: uppercase;
}

.title > h3 {
  color: var(--card-subtitle-color);
  display: inline-flex;
  font-size: var(--card-subtitle-font-size);
}

.graphic {
  padding: var(--card-graphic-padding);

  &:last-child {
    padding: 0;
  }
}

.graphic,
.graphic > img {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.actions > * {
  margin-left: var(--card-actions-spacing);

  &:first-child {
    margin-left: unset;
  }
}

.card hr {
  display: block;
  border-color: var(--card-divider-border-color);
  border-style: var(--card-divider-border-style);
  border-width: var(--card-divider-border-width);
  margin: var(--card-divider-margin);
}
