@import "../spacing.css";
@import "../typography.css";
@import "../media.css";
@import "../colors.css";

:root {
  --card-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.07);
  --card-background-color: var(--color-white);
  --card-border-radius: 3px;

  --card-child-first-child-padding: var(--spacing-small);
  --card-child-padding:
    0
    var(--spacing-small)
    var(--spacing-small);
  --card-graphic-padding: 0 0 var(--spacing-small);

  --card-title-color: var(--color-light-grey-100);
  --card-title-font-family: var(--title-font-family);
  --card-title-font-size: 14px;
  --card-title-font-weight: var(--title-font-weight);
  --card-title-icon-margin: var(--spacing-tiny);
  --card-title-text-transform: uppercase;

  --card-title-small-font-weight: normal;
  --card-title-small-font-size: 14px;
  --card-title-small-text-transform: initial;

  --card-title-strong-font-weight: var(--title-font-weight);
  --card-title-strong-text-transform: uppercase;

  --card-subtitle-font-size: 14px;
  --card-subtitle-font-weight: normal;
  --card-subtitle-color: var(--color-light-grey-100);

  --card-actions-spacing: var(--spacing-tiny);

  --card-section-background-color: var(--color-light-smoke-40);

  --card-section-title-color: var(--color-light-steel-100);
  --card-section-title-font-size: 14px;
  --card-section-title-font-weight: var(--title-font-weight);
  --card-section-title-text-transform: uppercase;

  --card-section-title-icon-color: var(--color-light-greenish-100);
  --card-section-title-icon-margin: 8px;
  --card-section-title-icon-size: 18px;

  --card-section-subtitle-color: var(--color-light-steel-100);
  --card-section-subtitle-font-weight: normal;
  --card-section-subtitle-text-transform: initial;

  --card-section-icon-box-background-color: var(--color-light-silver-50);
  --card-section-icon-box-size: 48px;

  --card-section-double-line-title-spacing: var(--spacing-tiny);
  --card-section-double-line-divider-margin: var(--spacing-small) 0 0;
  --card-section-double-line-actions-margin: var(--spacing-small);
  --card-section-double-line-actions-last-child-margin: var(--spacing-large);

  --card-divider-border-color: var(--color-light-grey-20);
  --card-divider-border-style: solid;
  --card-divider-border-width: 1px 0 0;
  --card-divider-margin: 0 var(--spacing-small) var(--spacing-small);
}
