@import "../spacing.css";
@import "../typography.css";
@import "../media.css";
@import "../colors.css";

:root {
  --card-spacing-large: var(--spacing-medium);
  --card-spacing-medium: var(--spacing-medium);
  --card-spacing-small: var(--spacing-small);
  --card-spacing-tiny: var(--spacing-tiny);
  --card-shadow: 0 2px 5px 0 var(--color-light-silver-50);
  --card-border-radius: 3px;

  --card-title-color: var(--color-light-steel-100);
  --card-title-font-size: 14px;
  --card-title-icon-margin: 9px;
  --card-title-padding: var(--card-spacing-small);
  --card-title-text-transform: uppercase;

  --card-subtitle-font-size: 16px;
  --card-subtitle-color: var(--color-light-steel-100);

  --card-actions-spacing: var(--card-spacing-tiny);
  --card-actions-padding:
    0
    var(--card-spacing-small)
    var(--card-spacing-small)
    var(--card-spacing-small);

  --card-content-padding:
    0
    var(--card-spacing-small)
    var(--card-spacing-small)
    var(--card-spacing-small);

  --card-background: var(--color-white);

  --card-section-title-color: var(--color-light-steel-100);
  --card-section-title-padding-bottom: 4px;
  --card-section-title-padding-top: 4px;
  --card-section-title-icon-color: var(--color-light-greenish-100);
  --card-section-icon-box-background-color: var(--color-light-silver-50);
  --card-section-icon-box-size: 48px;

  --card-section-title-icon-size: 18px;
  --card-section-title-icon-margin: 8px;
  --card-section-background: var(--color-light-smoke-40);

  --card-section-header-background: var(--color-light-smoke-40);

  --card-section-subtitle-color: var(--color-light-steel-50);
  --card-section-subtitle-font-size: 12px;

  --card-section-line-divider-border-color: var(--color-light-grey-20);
}
