@import "./properties.css";
@import "../checkbox-radio/index.css";

.checkboxGroup {
  margin: var(--checkbox-group-margin);
}

.checkboxGroup > div {
  display: flex;
  flex-wrap: wrap;
}

.checkboxGroup * {
  box-sizing: border-box;
}

.secondaryText {
  font-size: var(--checkbox-group-secondary-text-font-size);
  margin: 0;
  padding-bottom: var(--checkbox-group-secondary-text-padding-bottom);
}

.error {
  color: var(--checkbox-group-secondary-text-color-error);
}

.checkboxGroup > div > div > * {
  margin: var(--checkbox-radio-margin);
}
