@import "../colors.css";
@import "../spacing.css";

:root {
  --checkbox-group-margin: 0 -16px -16px 0;

  --checkbox-group-secondary-text-font-size: 12px;
  --checkbox-group-secondary-text-color-error: var(--color-beth-pink-100);
  --checkbox-group-secondary-text-padding-bottom: var(--spacing-tiny);
}
