@import "../../colors.css";
@import "../../spacing.css";
@import "../../typography.css";

:root {
  --default-button-border-radius: 3px;
  --default-button-font-family: var(--title-font-family);
  --default-button-font-style: var(--title-font-style);
  --default-button-font-weight: var(--body-text-weight);
  --default-button-letter-spacing: var(--letter-spacing);

  --default-button-default-text-transform: uppercase;

  --default-button-huge-font-size: 16px;
  --default-button-huge-height: 44px;
  --default-button-huge-text-transform: uppercase;

  --default-button-normal-relevance-background-color-hover: var(--color-light-greenish-120);
  --default-button-normal-relevance-background-color-active: var(--color-light-greenish-150);
  --default-button-normal-relevance-flat-background-color: var(--color-light-greenish-100);

  --default-button-disabled-background-color: var(--color-light-silver-50);
}
