@import "./properties.css";
@import "./TabItem.css";

.tabBar {
  display: inline-block;
  width: var(--tabbar-width);
}

.tabBar * {
  box-sizing: border-box;
}

.tabs {
  border-color: var(--tabbar-border-color);
  border-style: var(--tabbar-border-style);
  border-width: var(--tabbar-border-width);
  display: flex;
  justify-content: start;
  width: var(--tabbar-width);
}
