@import "../properties.css";

.segmentedSwitch * {
  box-sizing: border-box;
}

.segmentedSwitch {
  box-sizing: border-box;
  display: inline-flex;
  height: 40px;
  user-select: none;
}

.item {
  position: relative;
}

.item > input {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
}

.label {
  align-items: center;
  border: var(--context-switch-label-border);
  border-radius: var(--context-switch-label-border-radius);
  color: var(--context-switch-label-color);
  cursor: pointer;
  display: flex;
  font-family: var(--context-switch-font-family);
  font-size: 15px;
  font-weight: 500;
  height: var(--context-switch-label-height);
  letter-spacing: var(--context-switch-letter-spacing);
  padding: 20px;
  position: relative;
  white-space: nowrap;
}

.relevance-normal .item input + .label {
  background-color: var(--spaced-switch-background);
  border: 1px solid var(--color-light-greenish-100);
  box-sizing: border-box;
  color: var(--context-switch-enter-background-color);
  border-style: solid;
  border-width: 1px;

  &:hover {
    color: var(--spaced-switch-checked-color);
    background-color: var(--context-switch-enter-background-color);
    border-color: var(--color-light-greenish-150);
  }

  &:active {
    color: var(--spaced-switch-checked-color);
    background-color: var(--spaced-switch-background-active);
    border-color: var(--color-light-greenish-150);
  }
}

.relevance-normal .item input:checked + .label {
  background-image: var(--spaced-switch-background-checked);
  border: 1px solid;
  color: var(--spaced-switch-checked-color);
}

.relevance-normal .item input:focus + .label {
  border: var(--spaced-switch-label-focus-border);
  box-shadow: var(--spaced-switch-label-focus-border-shadown);
}

.relevance-low .item input + .label {
  background-color: var(--low-relevance-spaced-switch-background);
  border: 1px solid transparent;
  color: var(--low-relevance-spaced-switch-color);

  &:hover {
    background-color: var(--low-relevance-spaced-switch-background-hover);
  }

  &:active {
    background-color: var(--low-relevance-spaced-switch-background-active);
  }
}

.relevance-low .item input:checked + .label {
  background-color: var(--low-relevance-spaced-switch-background-checked);
  background-image: none;
  box-shadow: var(--low-relevance-spaced-switch-checked-label-border);
  color: var(--low-relevance-spaced-switch-checked-color);
}

.disabled .item input + .label {
  background-color: var(--context-switch-disabled-checked-background-color);
  border: var(--context-switch-disabled-checked-label-border);
  color: var(--context-switch-disabled-color);
  cursor: not-allowed;

  &:hover {
    background-color: var(--context-switch-disabled-checked-background-color);
    border: var(--context-switch-disabled-checked-label-border);
    color: var(--context-switch-disabled-color);
  }
}

.disabled .item input:checked + .label {
  background-color: var(--spaced-switch-disabled-color);
  background-image: none;
  border: var(--context-switch-disabled-checked-label-border);
  color: var(--context-switch-disabled-checked-color);

  &:active {
    border: var(--context-switch-disabled-checked-label-border);
  }
}

.spacing-tiny .item:not(:last-child) {
  margin-right: var(--spaced-switch-tiny-spacing);
}

.spacing-small .item:not(:last-child) {
  margin-right: var(--spaced-switch-small-spacing);
}

.spacing-medium .item:not(:last-child) {
  margin-right: var(--spaced-switch-medium-spacing);
}

.spacing-large .item:not(:last-child) {
  margin-right: var(--spaced-switch-large-spacing);
}
