@import "../colors.css";
@import "../spacing.css";
@import "../typography.css";

:root {
  --snackbar-height: 36px;
  --snackbar-color: var(--color-white);

  --snackbar-border-radius: 3px;

  --snackbar-font-family: var(--title-font-family);
  --snackbar-font-size: 16px;

  --snackbar-icon-color: var(--color-white);

  --snackbar-error-color: var(--color-beth-pink-100);
  --snackbar-info-color: var(--color-barney-purple-100);
  --snackbar-success-color: var(--color-picklerick-green-100);
  --snackbar-warning-color: var(--color-morty-yellow-100);
}
