@import "./properties.css";
@import "../z-index.css";

.pagination {
  background-color: var(--pagination-background-color);
  border-radius: var(--pagination-border-radius);
  color: var(--pagination-color);
  display: inline-flex;
  font-size: var(--pagination-font-size);
  height: var(--pagination-height);
  overflow: hidden;
  width: auto;
}

.tiny {
  font-size: var(--pagination-tiny-font-size);
  height: var(--pagination-tiny-height);
}

.label {
  align-content: space-between;
  align-items: safe center;
  border-color: var(--pagination-border-color);
  border-style: var(--pagination-border-style);
  border-width:
    var(--pagination-border-width)
    0;
  cursor: text;
  display: inline-flex;
  flex-direction: row;
  font-family: var(--pagination-font-family);
  font-weight: normal;
  padding: var(--pagination-label-padding);
  white-space: pre;
}

.prev,
.next {
  align-items: center;
  background-color: var(--pagination-button-background-color);
  border-color: var(--pagination-border-color);
  border-style: var(--pagination-border-style);
  border-width: var(--pagination-border-width);
  color: var(--pagination-button-color);
  cursor: pointer;
  display: flex;
  flex-flow: column;
  height: var(--pagination-button-height);
  justify-content: space-around;
  outline: none;
  width: var(--pagination-button-width);

  /* hover, focus and active */

  &:hover:not(:disabled),
  &:active,
  &:focus {
    border: none;
    color: var(--pagination-button-enter-text-color);
  }

  &:hover {
    background-color: var(--pagination-button-hover-background-color);
  }

  &:focus {
    background-color: var(--pagination-button-focus-background-color);
  }

  &:active {
    background-color: var(--pagination-button-active-background-color);
  }
}

.prev {
  border-radius:
    var(--pagination-border-radius)
    0
    0
    var(--pagination-border-radius);
}

.next {
  border-radius:
    0
    var(--pagination-border-radius)
    var(--pagination-border-radius)
    0;
}

.input {
  appearance: textfield;
  background: none;
  border: var(--pagination-input-border);
  color: var(--pagination-input-color);
  font-family: inherit;
  font-size: inherit;
  font-weight: var(--pagination-input-font-weight);
  height: var(--pagination-input-height);
  left: var(--pagination-input-left);
  letter-spacing: var(--pagination-input-letter-spacing);
  padding: var(--pagination-input-padding);
  position: absolute;
  text-align: center;
  top: var(--pagination-input-top);
  width: var(--pagination-input-width);
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.input:focus,
.input:invalid {
  box-shadow: unset;
  outline: none;
}

.currentPage {
  flex-basis: auto;
  flex-grow: 2;
  font-family: var(--pagination-font-family);
  height: 100%;
  position: relative;
  text-align: center;
  width: auto;
}

.expander {
  visibility: hidden;
}

.separator {
  flex-basis: auto;
  flex-grow: 1;
  padding: var(--pagination-label-padding);
  text-align: center;
  user-select: none;
}

.totalPages {
  flex-basis: auto;
  flex-grow: 1;
  text-align: center;
  user-select: none;
}

/* error */

.pagination.error {

  & .label {
    background-color: var(--pagination-label-error-background-color);
    border-color: var(--pagination-error-border-color);
  }

  & .prev,
  & .next {
    border-color: var(--pagination-error-border-color);
  }
}

/* disabled */

.disabled {
  background-color: var(--pagination-disabled-background-color);
}

.disabled .label {
  color: var(--color-squanchy-gray-50);
}

.disabled * {
  cursor: not-allowed;
}

.prev:disabled,
.next:disabled {
  background-color: var(--pagination-disabled-background-color);
  color: var(--color-squanchy-gray-200);
  cursor: not-allowed;

  & svg {
    pointer-events: none;
  }
}
