@import "../colors.css";
@import "../typography.css";

:root {
  --pagination-background-color: var(--color-white);
  --pagination-border-color: var(--color-light-platinum-100);
  --pagination-border-radius: 3px;
  --pagination-border-style: solid;
  --pagination-border-width: 1px;
  --pagination-color: var(--color-light-steel-100);
  --pagination-font-family: var(--title-font-family);
  --pagination-font-size: 14px;
  --pagination-height: var(--spacing-large);

  --pagination-label-padding: 0 8px;

  --pagination-input-border: none;
  --pagination-input-color: inherit;
  --pagination-input-height: 100%;
  --pagination-input-left: 0;
  --pagination-input-letter-spacing: 0;
  --pagination-input-padding: 0;
  --pagination-input-top: 0;
  --pagination-input-width: 100%;

  --pagination-button-background-color: var(--color-white);
  --pagination-button-color: inherit;
  --pagination-button-height: 100%;
  --pagination-button-padding: 5px;
  --pagination-button-width: 23px;

  --pagination-button-enter-text-color: var(--color-white);

  --pagination-button-hover-background-color: var(--color-light-greenish-120);

  --pagination-button-focus-background-color: var(--color-light-greenish-50);

  --pagination-button-active-background-color: var(--color-light-greenish-150);

  --pagination-error-border-color: rgba(var(--color-light-salmon-120), 1);
  --pagination-label-error-background-color: var(--color-light-red-20);

  --pagination-disabled-background-color: var(--color-light-platinum-20);
}
