@import "../colors.css";
@import "../media.css";
@import "../typography.css";
@import "./properties.css";
@import "./sidebar-header.css";
@import "./sidebar-content.css";
@import "./sidebar-link.css";

.sidebar,
.sidebar * {
  box-sizing: border-box;
}

.sidebar {
  background-color: var(--sidebar-background-color);
  display: block;
  font-family: var(--sidebar-font-family);
  min-height: 100vh;
  flex: 0 0 var(--sidebar-width);
  width: var(--sidebar-width);
  user-select: var(--sidebar-user-select);

  & > div {
    display: flex;
    flex: 1;
    width: 100%;
  }

  & nav {
    flex: 1;
  }
}

.menu,
.submenu {
  padding: 0;
  position: relative;
  margin: 0;
}

.collapsed {
  flex: 0 0 var(--sidebar-collapsed-width);
  width: var(--sidebar-collapsed-width);

  & header {
    justify-content: center;
  }

  & header svg {
    height: var(--sidebar-collapsed-header-button-size);
    width: var(--sidebar-collapsed-header-button-size);
  }
}

@media (--media-desk) {

  .sidebar {
    width: var(--sidebar-width-desk);
    flex: 0 0 var(--sidebar-width-desk);
  }

  .collapsed {
    width: var(--sidebar-collapsed-width-desk);
    flex: 0 0 var(--sidebar-collapsed-width-desk);
  }
}

@media (--media-tv) {

  .sidebar {
    width: var(--sidebar-width-tv);
    flex: 0 0 var(--sidebar-width-tv);
  }

  .collapsed {
    width: var(--sidebar-collapsed-width-tv);
    flex: 0 0 var(--sidebar-collapsed-width-tv);
  }
}
