@import "../colors.css";
@import "../media.css";

:root {
  --sidebar-width: 192px;
  --sidebar-width-desk: 222px;
  --sidebar-width-tv: 320px;

  --sidebar-collapsed-width: 72px;
  --sidebar-collapsed-width-desk: 78px;
  --sidebar-collapsed-width-tv: 116px;

  --sidebar-background-color: var(--color-light-carbon-40);

  --sidebar-header-height: 72px;
  --sidebar-header-text-color: var(--color-white);
  --sidebar-header-padding: 15px;
  --sidebar-header-border-bottom: 1px solid var(--color-light-steel-200);

  --sidebar-header-button-padding: 0;
  --sidebar-header-button-color: var(--color-white);
  --sidebar-header-button-border: none;
  --sidebar-header-button-background: none;
  --sidebar-collapsed-header-button-color: var(--color-light-greenish-100);

  --sidebar-content-padding-top: 15px;
  --sidebar-content-padding-bottom: 15px;

  --sidebar-sections-list-margin: 16px 0 0 0;
  --sidebar-sections-list-padding: 0;
  --sidebar-sections-list-margin-top: 24px;
  --sidebar-sections-list-item-spacing: 16px;
  --sidebar-sections-list-item-border-top: 1px solid var(--color-light-steel-200);
  --sidebar-sections-text-last-child-margin-top: 16px;
  --sidebar-sections-text-last-child-margin-bottom: 16px;
  --sidebar-sections-text-font-size: 12px;
  --sidebar-sections-text-color: var(--color-white);
  --sidebar-sections-text-text-transform: uppercase;
  --sidebar-sections-text-margin: 0;
  --sidebar-sections-text-last-child-font-size: 24px;
  --sidebar-sections-small-font-size: 16px;

  --sidebar-link-color: var(--color-white);
  --sidebar-link-border: 1px solid transparent;
  --sidebar-link-padding: 16px;
  --sidebar-link-margin: 0;

  --sidebar-link-font-size: 14px;
  --sidebar-link-font-size-desk: 14px;
  --sidebar-link-font-size-tv: 16px;

  --sidebar-link-icon-margin-right: 15px;

  --sidebar-link-hover-color: var(--color-light-greenish-100);
  --sidebar-link-hover-background-color: var(--color-light-carbon-100);
  --sidebar-link-hover-border-top-color: var(--color-light-steel-200);
  --sidebar-link-hover-border-bottom-color: var(--color-light-steel-200);

  --sidebar-link-selected-color: var(--sidebar-link-hover-color);
  --sidebar-link-selected-background-color: var(--sidebar-link-hover-background-color);
  --sidebar-link-selected-border-top-color: var(--sidebar-link-hover-border-top-color);
  --sidebar-link-selected-border-bottom-color: var(--sidebar-link-hover-border-bottom-color);

  --sidebar-header-button-icon-width: 25px;
  --sidebar-header-button-icon-height: 25px;

  --sidebar-title-color: var(--color-white);
  --sidebar-title-font-size: 14px;
  --sidebar-title-font-size-desk: 14px;
  --sidebar-title-font-size-tv: 16px;
  --sidebar-title-line-height: 1.5;
  --sidebar-title-margin: 0;
  --sidebar-title-text-transform: uppercase;

  --sidebar-subtitle-color: var(--color-light-greenish-100);
  --sidebar-subtitle-font-size: 12px;
  --sidebar-subtitle-font-size-desk: 12px;
  --sidebar-subtitle-font-size-tv: 14px;
  --sidebar-subtitle-margin-top: 8px;
  --sidebar-subtitle-margin-bottom: 0;
  --sidebar-subtitle-text-transform: uppercase;

  --sidebar-showsection-background-color: var(--color-light-carbon-100);

  --sidebar-section-height: calc(100vh - 56px);
}
