@import "../colors.css";
@import "../media.css";

:root {
  --sidebar-width: 192px;
  --sidebar-width-desk: 222px;
  --sidebar-width-tv: 320px;

  --sidebar-collapsed-width: 72px;
  --sidebar-collapsed-width-desk: 78px;
  --sidebar-collapsed-width-tv: 116px;

  --sidebar-background-color: var(--color-light-carbon-40);

  --sidebar-font-family: var(--title-font-family);

  --sidebar-header-height: 72px;
  --sidebar-header-text-color: var(--color-white);
  --sidebar-header-padding: 15px;
  --sidebar-header-border-bottom: 1px solid var(--color-light-steel-200);

  --sidebar-header-button-border: none;
  --sidebar-header-button-background: none;
  --sidebar-header-button-color: var(--color-white);
  --sidebar-header-button-padding: 0;
  --sidebar-collapsed-header-button-size: var(--spacing-medium);

  --sidebar-content-padding: var(--spacing-medium) 0;

  --sidebar-link-color: var(--color-white);
  --sidebar-link-border-color: transparent;
  --sidebar-link-border-style: solid;
  --sidebar-link-border-width: 1px 0;
  --sidebar-link-margin: 0;
  --sidebar-link-padding: var(--spacing-medium);

  --sidebar-link-icon-margin-right: var(--spacing-small);
  --sidebar-link-arrow-icon-margin-left: var(--spacing-tiny);

  --sidebar-link-enter-background-color: var(--color-light-carbon-100);
  --sidebar-link-enter-border-color: var(--color-light-greenish-100);

  --sidebar-link-active-color: var(--color-light-greenish-100);

  --sidebar-sublink-padding: 0 var(--spacing-medium) var(--spacing-medium);
  --sidebar-sublink-button-padding-left: var(--spacing-large);
  --sidebar-sublink-active-color: var(--color-light-greenish-100);
  --sidebar-sublink-before-background-color: var(--color-light-greenish-100);
  --sidebar-sublink-before-left: 6px;
  --sidebar-sublink-before-width: 2px;

  --sidebar-title-color: var(--color-white);
  --sidebar-title-font-size: 14px;
  --sidebar-title-font-size-desk: 14px;
  --sidebar-title-font-size-tv: 16px;
  --sidebar-title-line-height: 14px;
  --sidebar-title-margin: 0;
  --sidebar-title-text-transform: uppercase;

  --sidebar-user-select: none;
}
