@import "./properties.css";

.header {
  align-items: center;
  border-bottom: var(--sidebar-header-border-bottom);
  display: flex;
  height: var(--sidebar-header-height);
  justify-content: space-between;
  padding: var(--sidebar-header-padding);
  position: absolute;
  top: 0;
  background: var(--sidebar-background-color);
}

.header :matches(h1, h2, h3, h4, h5) {
  color: var(--sidebar-header-text-color);
}

.header img,
.header svg {
  display: block;
}

.header button {
  background: var(--sidebar-header-button-background);
  border: var(--sidebar-header-button-border);
  color: var(--sidebar-header-button-color);
  cursor: pointer;
  outline: none;
  padding: var(--sidebar-header-button-padding);

  &:focus {
    border: var(--sidebar-header-button-focus-border);
    border-radius: 0;
  }
}
