@import "../colors.css";
@import "./properties.css";

.header {
  align-items: center;
  border-bottom: var(--sidebar-header-border-bottom);
  display: flex;
  height: var(--sidebar-header-height);
  justify-content: space-between;
  padding: var(--sidebar-header-padding);
}

.header img,
.header svg {
  display: block;
  width: var(--sidebar-header-logo-width);
}

.header button {
  background: var(--sidebar-header-button-background);
  border: var(--sidebar-header-button-border);
  color: var(--sidebar-header-button-color);
  cursor: pointer;
  outline: none;
  padding: var(--sidebar-header-button-padding);

  & svg {
    height: var(--sidebar-header-button-icon-height);
    width: var(--sidebar-header-button-icon-width);
  }
}

@media (--media-desk) {

  .header img {
    width: var(--sidebar-header-logo-width-desk);
  }
}

@media (--media-tv) {

  .header img {
    width: var(--sidebar-header-logo-width-tv);
  }
}
