@import "../colors.css";
@import "../typography.css";

:root {
  --input-background-color: transparent;

  --input-border-radius: 3px;
  --input-border-style: solid;
  --input-border-width: 1px;
  --input-border-color: var(--color-light-grey-50);

  --input-dark-color: var(--color-light-silver-100);
  --input-light-color: var(--color-light-steel-100);

  --input-container-letter-spacing: var(--letter-spacing);
  --input-container-padding: 0 5px;

  --input-font-family: var(--title-font-family);
  --input-font-size: 14px;

  --input-height: var(--spacing-large);

  --input-multiline-font-size: 14px;
  --input-multiline-line-height: 20px;
  --input-textarea-height: 100%;

  --input-placeholder-color: var(--color-light-chromium-100);

  --input-icon-color: var(--color-light-chromium-100);
  --input-icon-size: 16px;

  --input-border-color-focus: var(--color-light-greenish-100);
  --input-border-color-transition: border-color 100ms ease-in-out;

  --input-color-error: var(--color-light-error);

  --input-color-disabled: var(--color-light-iron-50);
}
