version: 2
image: ubuntu:16.04
jobs:
  build:
    docker:
      - image: circleci/node:8

    working_directory: ~/repo

    steps:
      - checkout

      - restore_cache:
          keys:
          - package-dependencies-{{ checksum "package.json" }}
          - webapp-dependencies-

      - run: |
          yarn
          yarn lint

      - save_cache:
          paths:
            - package/node_modules
          key: package-dependencies-{{ checksum "package.json" }}

