@import "./properties.css";

.tableBody {
  width: 100%;
}

.tableBody .empty {
  display: block;
  padding-bottom: var(--table-body-empty-padding-bottom);
  position: relative;
  width: 100%;
}

.tableBody .empty:before {
  background: var(--body-td-empty-background-color);
  bottom: 0;
  content: "";
  height: var(--body-td-empty-height);
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: var(--body-td-empty-width);
}

.tableBody tr {
  height: var(--body-tr-height);
  outline: 0;
  width: 100%;
}

.endAlign {
  justify-content: flex-end;
  text-align: end;

  & .empty:before {
    left: auto;
  }
}

.startAlign {
  justify-content: flex-start;
  text-align: start;
}

.centerAlign {
  justify-content: center;
  text-align: center;
}
