@import "./properties.css";

.tableHead tr {
  background-color: var(--head-tr-background-color);
  border: var(--head-tr-border);
  height: var(--head-tr-height);
  width: 100%;
}

.tableHead th {
  color: var(--head-th-color);
  font-size: var(--head-th-font-size);
  font-weight: var(--head-th-font-weight);
  position: relative;
  text-align: left;
  text-transform: uppercase;

  & svg {
    margin-left: var(--head-th-svg-margin);
  }
}

.tableHeadItem {
  align-items: center;
  display: flex;
  line-height: var(--head-th-line-height);
  padding: var(--head-th-padding);
}

.title {
  align-items: center;
  display: flex;
}

.tableHead th + th:after {
  content: "";
  border-right: var(--head-th-separator-border);
  height: var(--head-th-separator-height);
  left: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.tableHead .active {
  color: var(--head-th-active-color);
  position: relative;

  &:before {
    content: "";
    background-image: var(--head-th-active-border-bottom-color);
    bottom: 0;
    height: var(--head-th-active-border-bottom-height);
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: var(--head-th-active-border-bottom-width);
  }
}
