@import "./properties.css";
@import "./body.css";
@import "./head.css";
@import "./row.css";
@import "./expandableRow.css";

.table {
  border-collapse: collapse;
  width: var(--table-width);
  border: var(--table-border);
  table-layout: fixed;
  font-family: var(--table-font-family);
  user-select: text;
}

.clickable,
.orderable {
  cursor: pointer;
}

.check {
  text-align: center;
  width: var(--table-check-width);

  & * {
    margin: 0 auto;
  }
}

.check label {
  justify-content: center;
}

.check i:before {
  margin: 0 auto;
}

.table > .tableBody .open button {
  border: var(--table-arrow-border);
  margin: 0 auto;
  appearance: none;
}

.unselectable {
  user-select: none;
}
