@import "./body.css";
@import "./expandableRow.css";
@import "./footer.css";
@import "./head.css";
@import "./properties.css";
@import "./row.css";

.table {
  border: var(--table-border);
  border-collapse: collapse;
  font-family: var(--table-font-family);
  table-layout: fixed;
  user-select: text;
  width: var(--table-width);
}

.clickable,
.orderable {
  cursor: pointer;
}

.table .check {
  text-align: center;
  width: var(--table-check-width);

  & * {
    margin: 0 auto;
  }
}

.table > .tableBody .open button {
  appearance: none;
  border: var(--table-arrow-border);
  margin: 0 auto;
}

.unselectable {
  user-select: none;
}

.disabled {
  cursor: not-allowed;
  user-select: none;
}

.tableItem {
  color: var(--body-td-color);
  font-size: var(--body-td-font-size);
  padding: var(--body-td-padding);
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
}
