:root {
  --calendar-picker-z-index: 0;
  --date-selector-sidebar-z-index: 1;
  --date-selector-z-index: 10;
  --header-z-index: 100;
  --input-z-index: 1;
  --modal-overlay-z-index: 1000;
  --popover-z-index: 5;
  --switch-bullet-z-index: 1;
  --textarea-z-index: 1;
  --tooltip-arrow-z-index: -1;
  --tooltip-z-index: 5;
}
