@import "./properties.css";

.legend {
  align-items: center;
  cursor: default;
  display: inline-flex;
  letter-spacing: var(--legend-letter-spacing);
}

.acronym {
  color: var(--legend-label-default-color);
  font-size: var(--legend-label-font-size);
  border-radius: var(--legend-label-border-radius);
  box-sizing: border-box;
  padding: var(--legend-label-padding);
  text-align: center;
  text-transform: uppercase;
  width: auto;
}

/* Add type selector to override normalize.css */
abbr.acronym { /* stylelint-disable-line */
  text-decoration: none;
}

.text {
  color: var(--legend-text-color);
  font-size: var(--legend-text-font-size);
  margin-left: var(--legend-text-margin-left);
}
