@font-face {
  font-family: "Rubik";
  src: url("./rubik-light.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("./rubik-medium.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("./rubik-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
