@import "../colors.css";
@import "../typography.css";

:root {
  --dropdown-background-color: transparent;
  --dropdown-border-color: var(--color-light-grey-50);
  --dropdown-border-style: solid;
  --dropdown-border-radius: 3px;
  --dropdown-border-width: 1px;
  --dropdown-font-size: 14px;
  --dropdown-font-family: var(--title-font-family);
  --dropdown-height: 32px;
  --dropdown-line-height: var(--spacing-large);
  --dropdown-text-color: var(--color-light-steel-100);

  --dropdown-tiny-font-size: 12px;
  --dropdown-tiny-height: 26px;
  --dropdown-tiny-icon-width: var(--dropdown-tiny-height);

  --dropdown-select-height: var(--spacing-large);
  --dropdown-select-padding-bottom: 0;
  --dropdown-select-padding-left: 8px;
  --dropdown-select-padding-right: var(--spacing-large);
  --dropdown-select-padding-top: 0;

  --dropdown-option-color: var(--color-light-steel-100);

  --dropdown-placeholder-color: var(--color-light-chromium-100);
  --dropdown-placeholder-font-size: 12px;
  --dropdown-placeholder-line-height: 12px;

  --dropdown-secondary-text-font-size: 12px;

  --dropdown-icon-border: 1px solid var(--color-light-grey-50);
  --dropdown-icon-color: var(--color-light-steel-100);
  --dropdown-icon-height: inherit;
  --dropdown-icon-width: var(--dropdown-height);

  --dropdown-focus-border-color: var(--color-light-greenish-100);
  --dropdown-focus-transition-time: 100ms;

  --dropdown-error-color: var(--color-light-error);

  --dropdown-color-disabled: var(--color-light-iron-50);
  --dropdown-option-disabled-background: none;
}
