@import "./properties.css";

.dropdown * {
  box-sizing: border-box;
  font-family: var(--dropdown-font-family);
  letter-spacing: var(--letter-spacing);
}

.dropdown {
  color: var(--dropdown-text-color);
  cursor: pointer;
  position: relative;
  width: 100%;
}

.select {
  appearance: none;
  background-color: var(--dropdown-background-color);
  border-color: var(--dropdown-border-color);
  border-radius: var(--dropdown-border-radius);
  border-style: var(--dropdown-border-style);
  border-width: var(--dropdown-border-width);
  color: inherit;
  cursor: inherit;
  display: block;
  font-size: var(--dropdown-font-size);
  outline: none;
  overflow: hidden;
  padding:
    var(--dropdown-select-padding-top, 0)
    var(--dropdown-select-padding-right, 0)
    var(--dropdown-select-padding-bottom, 0)
    var(--dropdown-select-padding-left, 0);
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.arrow {
  align-items: center;
  border: none;
  color: inherit;
  display: flex;
  height: var(--dropdown-icon-size);
  justify-content: center;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: var(--dropdown-select-padding-top, 0);
  width: var(--dropdown-icon-size);
}

.label {
  color: var(--dropdown-label-color);
  display: block;
  font-size: var(--dropdown-label-font-size);
  line-height: var(--dropdown-label-font-size);
}

.secondaryText {
  font-size: var(--dropdown-secondary-text-font-size);
  margin: 0;
  margin-top: 8px;
  text-align: left;
  width: 100%;
}

/* hover and focus */

.select:hover,
.select:focus {
  border-color: var(--dropdown-focus-border-color);
  outline: none;
  transition: border-color var(--dropdown-focus-transition-time) ease;
}

/* error */

.error .select {
  border-color: var(--dropdown-error-color);
}

.error .label,
.error .secondaryText {
  color: var(--dropdown-error-color);
}

/* disabled */

.disabled,
.disabled * {
  cursor: not-allowed;
}

.disabled .select {
  border-color: var(--dropdown-color-disabled);
}

.disabled .select,
.disabled .arrow {
  color: var(--dropdown-color-disabled);
}

.disabled .label {
  color: var(--dropdown-color-disabled);
}
