@import "./properties.css";
@import "../checkbox-radio/index.css";

.label {
  margin: var(--checkbox-radio-margin);
}

.label:last-child {
  margin-right: 0;
}

.input {
  border-radius: var(--radio-group-input-border-radius);
}

.input:before {
  background-color: var(--radio-group-bullet-background-color);
  border-radius: var(--radio-group-input-border-radius);
  content: "";
  height: var(--radio-group-bullet-size);
  left: var(--radio-group-bullet-spacing);
  position: absolute;
  top: var(--radio-group-bullet-spacing);
  transform: scale(0);
  transition: transform var(--checkbox-radio-transition-speed);
  width: var(--radio-group-bullet-size);
}

/* checked */

.label input:checked + .input:before {
  transform: scale(1);
}

/* disabled */

.disabled .input:before {
  background-color: var(--checkbox-radio-pseudo-element-color-disabled);
}

/* sizes */

.default {
  height: var(--radio-size-default-height);
  width: var(--radio-size-default-width);
  min-width: var(--radio-size-default-min-width);
}

.default:before {
  height: var(--radio-size-default-bullet-height);
  width: var(--radio-size-default-bullet-width);
  top: var(--radio-size-default-bullet-top);
  left: var(--radio-size-default-bullet-left);
}

.huge {
  height: var(--radio-size-huge-height);
  width: var(--radio-size-huge-width);
  min-width: var(--radio-size-huge-min-width);
}

.huge:before {
  height: var(--radio-size-huge-bullet-height);
  width: var(--radio-size-huge-bullet-width);
  top: var(--radio-size-huge-bullet-top);
  left: var(--radio-size-huge-bullet-left);
}
