@import "../spacing.css";

.spacing {
  display: inline-flex;
  margin: 0;

  & + * {
    margin-left: 0;
  }
}

.flex {
  flex: 1;
}

.tiny {
  width: var(--spacing-tiny);
}

.small {
  width: var(--spacing-small);
}

.medium {
  width: var(--spacing-medium);
}

.large {
  width: var(--spacing-large);
}
