@import "./properties.css";

.button {
  align-items: center;
  border: none;
  border-radius: var(--button-border-radius);
  box-sizing: border-box;
  color: var(--button-color);
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  font-family: var(--button-font-family);
  font-style: var(--button-font-style);
  font-weight: var(--button-font-weight);
  letter-spacing: var(--button-letter-spacing);
  text-transform: var(--button-text-transform);
  user-select: var(--button-user-select);
  vertical-align: text-top;
  white-space: nowrap;
  word-break: keep-all;
}

.button:focus {
  outline: none;
}

/*
 * disabled button style
 * */

.button,
.gradient,
.clean,
.outline {
  @nest
  &.button:disabled:hover,
  &.button:disabled {
    cursor: not-allowed;
    background: var(--button-disabled-background-color);
    background-image: var(--button-disabled-background-color);
    background-color: var(--button-disabled-background-color);
    color: var(--button-disabled-color);
  }
}

.outline:disabled,
.clean:disabled {
  background: none;
  color: var(--button-outline-disabled-color);
}

.flat {
  background-image: none;
}

.button.outline,
.button.clean {
  background: none;

  @nest
  &:hover,
  &:focus,
  &:active {
    color: var(--button-color);
  }
}

/*
 * Icon Alignment
 * */

.button svg {
  margin: var(--button-icon-margin);
}

/*
 * Button sizes
 * */

.tiny {
  padding: var(--button-padding-tiny);
  font-size: var(--button-font-size-tiny);
  height: var(--button-height-tiny);
}

.default {
  padding: var(--button-padding-default);
  font-size: var(--button-font-size-default);
  height: var(--button-height-default);
}

.huge {
  padding: var(--button-padding-huge);
  font-size: var(--button-font-size-huge);
  height: var(--button-height-huge);
}

.button.iconButton {

  &.tiny,
  &.default,
  &.huge {
    padding: var(--button-icon-padding);
  }

  &.tiny {
    width: var(--button-icon-width-tiny);
    font-size: var(--button-icon-font-size-tiny);
  }

  &.default,
  &.huge {
    width: var(--button-icon-width-default);
  }

  & svg {
    margin: var(--button-icon-svg-margin);
  }
}

.normalRelevance {
  background-image: var(--button-normal-relevance-color);

  &:hover {
    background: var(--color-light-greenish-120);
  }
  &:active {
    background: var(--color-light-greenish-150);
  }
  &:focus {
    box-shadow: var(--color-light-greenish-150) 0 0 0 2px inset;
  }

  &.inverse {
    background: transparent;
    border-color: var(--color-light-greenish-100);
    border-style: solid;
    border-width: 1px;
    color: var(--color-light-greenish-100);
  }

  &.flat {
    background: transparent;
    color: var(--color-light-greenish-100);
  }
}

.highRelevance {
  background-image: var(--button-high-relevance-color);

  &:hover {
    background: var(--color-light-salmon-120);
  }
  &:active {
    background: var(--color-light-salmon-150);
  }
  &:focus {
    box-shadow: var(--color-light-salmon-150) 0 0 0 2px inset;
  }
}

.lowRelevance {
  background-color: var(--button-low-relevance-color);
  border-color: var(--button-low-relevance-border-color);
  border-style: solid;
  border-width: 1px;
  color: var(--button-low-relevance-border-color);

  &:hover {
    background: var(--color-light-iron-100);
    border-color: transparent;
    color: var(--color-white);
  }
  &:active {
    background: var(--color-light-grey-100);
    border-color: transparent;
    color: var(--color-white);
  }
  &:focus:not(:active) {
    background: var(--color-light-grey-50);
    border-color: #979797;
    border-width: 1px;
    box-shadow: #979797 0 0 0 1px inset;
    color: var(--color-white);
  }
}