@import "./properties.css";

.target {
  display: inline-flex;
  outline: none;
  position: relative;
}

.popover,
.popover * {
  box-sizing: border-box;
}

.popover {
  background-color: var(--popover-color);
  border-color: var(--popover-border-color);
  border-radius: var(--popover-border-radius);
  border-style: var(--popover-border-style);
  border-width: var(--popover-border-width);
  display: block;
  position: absolute;
  z-index: var(--popover-z-index);
}

.content {
  padding: var(--popover-content-padding);

  & > * {
    display: block;
  }
}

.menu {
  display: block;
}

.popover:before {
  background-color: inherit;
  border-color: inherit;
  border-radius: inherit;
  border-style: inherit;
  border-width: inherit;
  content: "";
  display: block;
  height: var(--popover-arrow-size);
  position: absolute;
  transform: rotate(45deg);
  width: var(--popover-arrow-size);
}

.popover > *:not(.menu) {
  border-color: var(--popover-child-border-color);
  border-style: var(--popover-child-border-style);
  border-width: var(--popover-child-border-width);
}

.popover > :first-child {
  border-color: transparent;
}

.link {
  background-color: initial;
  border-color: var(--popover-child-border-color);
  border-style: var(--popover-child-border-style);
  border-width: var(--popover-child-border-width);
  color: var(--popover-link-text-color);
  cursor: pointer;
  display: block;
  font-size: var(--popover-link-font-size);
  outline: none;
  padding: var(--popover-link-padding);
  text-align: left;
  white-space: nowrap;
  width: 100%;

  &:last-of-type {
    border-radius: var(--popover-link-border-radius-bottom);
  }
}

/* hover */

.link:hover {
  background-color: var(--popover-link-hover-background);
}

/* focus */

.link:focus {
  outline: 1px solid #000000;
}

/* active */

.link:active {
  background-color: var(--popover-link-active-background);
}

/* placements */

.popover[class*="bottom"] {
  top: var(--popover-bottom-start-top);

  &:before {
    border-bottom: none;
    border-radius: var(--popover-arrow-bottom-radius);
    border-right: none;
    top: var(--popover-arrow-bottom-start-top);
  }
}

.bottomStart {
  left: var(--popover-bottom-start-left);

  &:before {
    left: var(--popover-arrow-bottom-start-left);
  }
}

.bottomCenter {
  left: var(--popover-bottom-center-left);
  transform: var(--popover-bottom-center-transform);

  &:before {
    left: var(--popover-arrow-bottom-center-left);
  }
}

.bottomEnd {
  right: var(--popover-bottom-end-right);

  &:before {
    border-bottom: none;
    border-right: none;
    right: var(--popover-arrow-bottom-start-left);
  }
}

.popover[class*="right"] {
  left: var(--popover-right-left);

  &:before {
    background: var(--popover-arrow-right-background);
    border-radius: var(--popover-arrow-right-radius);
    border-right: none;
    border-top: none;
    left: var(--popover-arrow-right-left);
  }
}

.rightStart {
  top: var(--popover-right-start-top);

  &:before {
    top: var(--popover-arrow-right-start-top);
  }
}

.rightMiddle {
  top: var(--popover-right-middle-top);
  transform: var(--popover-right-middle-transform);

  &:before {
    top: var(--popover-arrow-right-middle-top);
  }
}

.rightEnd {
  bottom: var(--popover-right-end-bottom);

  &:before {
    bottom: var(--popover-arrow-right-end-bottom);
  }
}

.popover[class*="left"] {
  right: var(--popover-left-right);

  &:before {
    background: var(--popover-arrow-left-background);
    border-bottom: none;
    border-left: none;
    border-radius: var(--popover-arrow-left-radius);
    right: var(--popover-arrow-left-right);
  }
}

.leftStart {
  top: var(--popover-left-start-top);

  &:before {
    top: var(--popover-arrow-left-start-top);
  }
}

.leftMiddle {
  top: var(--popover-left-middle-top);
  transform: var(--popover-left-middle-transform);

  &:before {
    top: var(--popover-arrow-left-middle-top);
  }
}

.leftEnd {
  bottom: var(--popover-left-end-bottom);

  &:before {
    bottom: var(--popover-arrow-left-end-bottom);
  }
}

.popover[class*="top"] {
  bottom: var(--popover-top-bottom);

  &:before {
    background: var(--popover-arrow-top-background);
    border-left: none;
    border-radius: var(--popover-arrow-top-radius);
    border-top: none;
    bottom: var(--popover-arrow-top-bottom);
  }
}

.topStart {
  left: var(--popover-top-start-left);

  &:before {
    left: var(--popover-arrow-top-start-left);
  }
}

.topCenter {
  left: var(--popover-top-center-left);
  transform: var(--popover-top-center-transform);

  &:before {
    left: var(--popover-arrow-top-center-left);
  }
}

.topEnd {
  right: var(--popover-top-end-right);

  &:before {
    right: var(--popover-arrow-top-end-right);
  }
}

/* dark theme */

.dark.popover {
  border: none;
  background-color: var(--popover-color-dark);

  &:before {
    background: var(--popover-color-dark);
    border-color: var(--popover-border-color-dark);
  }

  & > * {
    border-color: var(--popover-child-border-color-dark);
    border-style: var(--popover-child-border-style-dark);
    border-width: var(--popover-child-border-width-dark);
  }

  & > :first-child {
    border-width: 0;
    color: var(--popover-link-text-color-dark);
  }

  & .link {
    border-width: 0;
    color: var(--popover-link-text-color-dark);

    &:hover {
      background-color: var(--popover-color-dark);
      color: var(--popover-link-text-color-hover-dark);
    }
  }
}
