@import "../colors.css";
@import "../spacing.css";
@import "../z-index.css";

:root {
  --popover-border-color: var(--color-light-grey-50);
  --popover-border-radius: 3px;
  --popover-border-style: solid;
  --popover-border-width: 1px;
  --popover-child-border-color: var(--color-light-grey-50);
  --popover-child-border-style: solid;
  --popover-child-border-width: 0;
  --popover-color: var(--color-white);

  --popover-arrow-bottom-center-left: calc(50% - var(--spacing-tiny));
  --popover-arrow-bottom-radius:
    var(--popover-border-radius)
    0
    0
    0;
  --popover-arrow-bottom-start-left: var(--spacing-small);
  --popover-arrow-bottom-start-top: -9px;
  --popover-arrow-left-background:
    linear-gradient(
      225deg,
      var(--popover-color) 50%,
      rgba(0, 0, 0, 0) 50%
    );
  --popover-arrow-left-end-bottom: var(--spacing-small);
  --popover-arrow-left-middle-top: calc(50% - var(--spacing-tiny));
  --popover-arrow-left-radius:
    0
    var(--popover-border-radius)
    0
    0;
  --popover-arrow-left-right: -9px;
  --popover-arrow-left-start-top: var(--spacing-small);
  --popover-arrow-right-background:
    linear-gradient(
      45deg,
      var(--popover-color) 50%,
      rgba(0, 0, 0, 0) 50%
    );
  --popover-arrow-right-end-bottom: var(--spacing-small);
  --popover-arrow-right-left: -9px;
  --popover-arrow-right-middle-top: calc(50% - var(--spacing-tiny));
  --popover-arrow-right-radius:
    0
    0
    0
    var(--popover-border-radius);
  --popover-arrow-right-start-top: var(--spacing-small);
  --popover-arrow-size: var(--spacing-small);
  --popover-arrow-top-background:
    linear-gradient(
      315deg,
      var(--popover-color) 50%,
      rgba(0, 0, 0, 0) 50%
    );
  --popover-arrow-top-bottom: -9px;
  --popover-arrow-top-center-left: calc(50% - var(--spacing-tiny));
  --popover-arrow-top-end-right: var(--spacing-small);
  --popover-arrow-top-radius:
    0
    0
    var(--popover-border-radius) 0;
  --popover-arrow-top-start-left: var(--spacing-small);

  --popover-content-border-color: var(--color-light-iron-50);
  --popover-content-border-style: solid;
  --popover-content-border-width: 1px;
  --popover-content-margin: 0 var(--spacing-small);
  --popover-content-padding: var(--spacing-tiny);
  --popover-content-title-color: var(--color-light-steel-100);

  --popover-link-active-background: var(--color-light-smoke-100);
  --popover-link-active-border-color: var(--color-light-grey-50);
  --popover-link-border-radius-bottom:
    0
    0
    var(--popover-border-radius)
    var(--popover-border-radius);
  --popover-link-border-radius-top:
    var(--popover-border-radius)
    var(--popover-border-radius)
    0
    0;
  --popover-link-focus-border-color: var(--color-light-steel-100);
  --popover-link-font-size: 12px;
  --popover-link-hover-background: var(--color-light-smoke-40);
  --popover-link-hover-border-color: var(--color-light-steel-100);
  --popover-link-padding: var(--spacing-tiny) var(--spacing-small);
  --popover-link-text-color: var(--color-light-chromium-100);

  --popover-border-color-dark: var(--popover-color-dark);
  --popover-child-border-color-dark: var(--color-light-steel-200);
  --popover-child-border-style-dark: dashed;
  --popover-child-border-width-dark: 1px 0 0;
  --popover-color-dark: var(--color-light-carbon-100);
  --popover-link-text-color-dark: var(--color-white);
  --popover-link-text-color-hover-dark: var(--color-light-greenish-100);

  --popover-bottom-center-left: 50%;
  --popover-bottom-center-transform: translateX(-50%);
  --popover-bottom-end-right: calc(var(--spacing-small) * -1);
  --popover-bottom-start-left: calc(var(--spacing-small) * -1);
  --popover-bottom-start-top: calc(100% + var(--spacing-small));

  --popover-left-end-bottom: calc(var(--spacing-tiny) * -1);
  --popover-left-middle-top: 50%;
  --popover-left-middle-transform: translateY(-50%);
  --popover-left-right: calc(100% + var(--spacing-small));
  --popover-left-start-top: calc(var(--spacing-tiny) * -1);

  --popover-right-end-bottom: calc(var(--spacing-tiny) * -1);
  --popover-right-left: calc(100% + var(--spacing-small));
  --popover-right-middle-top: 50%;
  --popover-right-middle-transform: translateY(-50%);
  --popover-right-start-top: calc(var(--spacing-tiny) * -1);

  --popover-top-bottom: calc(100% + var(--spacing-small));
  --popover-top-center-left: 50%;
  --popover-top-center-transform: translateX(-50%);
  --popover-top-end-right: calc(var(--spacing-tiny) * -1);
  --popover-top-start-left: calc(var(--spacing-tiny) * -1);

  --popover-z-index: 110;
}
