@import "../colors.css";
@import "../typography.css";

:root {
  --checkbox-input-border-radius: 3px;

  --checkbox-check-border-color: var(--color-light-greenish-100);
  --checkbox-check-border-style: solid;
  --checkbox-check-border-width: 0 0 2px 2px;
  --checkbox-check-height: 5px;
  --checkbox-check-rotation: -45deg;
  --checkbox-check-spacing: 3px;
  --checkbox-check-width: 11px;
}
