@import "./properties.css";

.alert * {
  box-sizing: border-box;
  margin: var(--alert-margin);
}

.alert {
  align-items: center;
  background-color: var(--alert-background-color);
  border: var(--alert-border);
  border-radius: var(--alert-border-radius);
  box-sizing: border-box;
  display: flex;
  font-family: var(--alert-font-family);
  font-size: var(--alert-font-size);
  height: var(--alert-height);
}

.content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: var(--alert-content-margin-left);
  margin-right: var(--alert-content-margin-right);
  color: var(--alert-color);
}

.icon {
  height: var(--alert-icon-height);
  width: var(--alert-icon-width);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--alert-icon-size);
}

.warning {
  color: var(--alert-warning-color);
}

.info {
  color: var(--alert-info-color);
}

.error {
  color: var(--alert-error-color);
}

.success {
  color: var(--alert-success-color);
}
