@import "./properties.css";
@import "../z-index.css";

.ReactDates-overrides {

  & .DayPicker {
    background: var(--calendar-day-picker-background);
    border: var(--calendar-day-picker-border);
    box-shadow: var(--calendar-day-box-shadow);
    font-weight: var(--calendar-day-picker-font-weight);
  }

  & .DateRangePicker {
    font-family: var(--calendar-font-family);
    position: absolute;
    z-index: var(--calendar-picker-z-index);
  }

  & .CalendarDay {
    border: var(--calendar-day-picker-border);
    color: var(--calendar-day-color);
    font-size: var(--calendar-day-font-size);
    font-weight: var(--calendar-day-font-weight);
    height: var(--calendar-day-height) !important; /* stylelint-disable-line */
    transition: var(--calendar-day-transition);
    will-change: color background-color;
  }

  & .CalendarDay--blocked {
    background: none;
    color: var(--color-light-steel-50);

    & button {
      cursor: not-allowed;
    }
  }

  & .DateRangePickerInput {
    align-items: center;
    border-width: 0;
    display: flex;
    height: 100%;
  }

  & .DateRangePicker,
  & .DateRangePicker > div {
    height: 100%;
  }

  & .DayPickerNavigation__next,
  & .DayPickerNavigation__prev {
    background-color: var(--calendar-day-picker-background-color);
    border: var(--calendar-day-picker-border);
    color: var(--calendar-icon-color);
    font-size: var(--calendar-icon-font-size);
    outline: none;
  }

  & .CalendarMonth .CalendarMonth__caption {
    color: var(--calendar-month-caption-color);
    font-size: var(--calendar-month-caption-font-size);
    opacity: 0;
    padding: var(--calendar-month-caption-padding);
    text-transform: var(--calendar-month-caption-text-transform);
    transition: var(--calendar-month-transition);
  }

  & .CalendarMonth table {
    border-collapse: separate;
    border-spacing: 0 var(--calendar-week-spacing);
    position: relative;
  }

  & .CalendarMonth table:before {
    background-color: var(--calendar-month-separator-background-color);
    content: "";
    display: block;
    height: var(--calendar-month-separator-height);
    opacity: 0;
    position: absolute;
    transform: var(--calendar-month-separator-transform);
    transition: var(--calendar-month-transition);
    width: var(--calendar-month-separator-width);
  }

  & .CalendarMonth[data-visible="true"] table:before {
    opacity: 1;
  }

  & .CalendarMonth[data-visible="false"] + .CalendarMonth table:before {
    opacity: 0;
  }

  & .CalendarMonth[data-visible="true"] .CalendarMonth__caption {
    opacity: 1;
  }

  & .CalendarMonth[data-visible="false"]:last-child .CalendarMonth__caption {
    opacity: 0;
  }

  & .DayPicker__week-header {
    top: var(--calendar-day-picker-header-top);
  }

  & .DayPicker__week-header ul {
    background-color: var(--calendar-week-name-background-color);
    border-color: var(--calendar-week-name-border-color);
    border-style: var(--calendar-week-name-border-style);
    border-width: var(--calendar-week-name-border-width);
    color: var(--calendar-week-name-color);
    font-size: var(--calendar-week-name-font-size);
    font-weight: var(--calendar-week-name-font-weight);
    padding-bottom: var(--calendar-week-padding-bottom);
    padding-top: var(--calendar-week-padding-top);
    text-transform: var(--calendar-day-picker-header-text-transform);
  }

  & .DayPickerNavigation {
    color: var(--calendar-active-color);
  }

  & .DayPickerNavigation__prev {
    left: var(--calendar-day-picker-prev-left);
  }

  & .DayPickerNavigation__next {
    right: var(--calendar-day-picker-next-right);
  }

  & .CalendarDay--blocked-out-of-range {
    color: var(--calendar-day-out-of-range-color);
  }

  & .CalendarMonthGrid {
    background: var(--calendar-month-grid-background);
  }

  & .CalendarDay--selected-span {
    background-color: var(--calendar-selected-span-background-color);
    color: var(--calendar-selected-span-color);
  }

  & .CalendarDay--selected-start,
  & .CalendarDay--selected-end,
  & .CalendarDay--selected {
    background-color: var(--calendar-active-color);
    color: var(--color-white);
    font-weight: var(--calendar-day-selected-font-weight);
  }

  & .CalendarDay--selected {
    border-radius: var(--calendar-day-selected-border-radius);
  }

  & .CalendarDay--selected-start {
    border-radius:
      var(--calendar-day-selected-border-radius)
      0
      0
      var(--calendar-day-selected-border-radius);
  }

  & .CalendarDay--selected-end {
    border-radius:
      0
      var(--calendar-day-selected-border-radius)
      var(--calendar-day-selected-border-radius)
      0;
  }

  & .CalendarDay--hovered-span:not(.CalendarDay--selected-start),
  & .CalendarDay--hovered.CalendarDay--selected-span {
    background-color: var(--calendar-hovered-span);
  }

  & .CalendarDay:active {
    background-color: lighten(var(--calendar-active-color), 30%);
    border-radius: var(--calendar-day-selected-border-radius);
  }
}
