@import "./properties.css";

.title {
  color: var(--header-title-color);
  font-size: var(--header-title-font-size);
  font-weight: var(--header-title-font-weight);
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
