@import "./properties.css";

.backButton {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  border: none;
  justify-content: center;
  background: var(--header-back-button-background-color);
  border: var(--header-back-button-border);
  color: var(--header-back-button-color);
  cursor: pointer;
  font-size: var(--header-back-button-font-size);
  outline: none;
}
