@import "../colors.css";
@import "./properties.css";

.link {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.link svg {
  height: var(--header-link-svg-height);
  width: var(--header-link-svg-width);
}
