@import "./properties.css";

.header .link {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  color: var(--header-link-color);
  display: flex;
  justify-items: center;
}

