@import "./properties.css";
@import "./header-title.css";
@import "./header-back-button.css";
@import "./header-content.css";
@import "./header-link.css";
@import "./header-menu.css";
@import "../z-index.css";

.header,
.header * {
  box-sizing: border-box;
}

.header {
  align-items: center;
  background-color: var(--header-background-color);
  border-color: var(--header-border-color);
  border-style: var(--header-border-style);
  border-width: var(--header-border-width);
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  padding-left: var(--header-padding-left);
  padding-right: var(--header-padding-right);
  width: var(--header-width);
  z-index: var(--header-z-index);
}

.header > * {
  margin-left: var(--header-child-margin-left);
}

.header > *:first-child {
  margin-left: 0;
}
