:root {
  --form-item-dark-color: var(--color-squanchy-gray-50);
  --form-item-light-color: var(--color-squanchy-gray-50);

  --form-placeholder-dark-color: var(--color-squanchy-gray-300);
  --form-placeholder-light-color: var(--color-squanchy-gray-300);

  --form-item-border-color: var(--color-squanchy-gray-50);
  --form-item-border-radius: 3px;
  --form-item-error-color: var(--color-beth-pink-100);

  --form-item-font-family: var(--body-font-family);
  --form-item-font-size: 12px;

  --form-icon-color: var(--color-squanchy-gray-50);

  --form-item-dark-label-color: var(--color-squanchy-gray-100);
  --form-item-label-color: var(--color-squanchy-gray-400);

  --form-dark-border-color-disabled: var(--color-squanchy-gray-50);
  --form-light-border-color-disabled: var(--color-squanchy-gray-50);

  --form-dark-color-disabled: var(--color-squanchy-gray-50);
  --form-light-color-disabled: var(--color-squanchy-gray-50);
}
