:root {
  --form-item-border-color: var(--color-light-grey-50);
  --form-item-border-radius: 3px;
  --form-item-error-color: var(--color-light-error);
  --form-item-font-family: var(--body-font-family);
  --form-item-font-size: 14px;
  --form-item-label-color: var(--color-light-chromium-100);
  --form-item-secondary-font-size: 12px;
  --form-item-color-disabled: var(--color-light-iron-50);
}
